@model TelecomServiceSystem.Web.ViewModels.Orders.OrderInputModel
@{ this.ViewData["Title"] = "Create mobile service"; }

<style>
    #lab {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-family: sans-serif;
        cursor: pointer;
        margin-top: 1rem;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: 2px 2px 4px #000000;
        text-shadow: 2px 2px 4px #000000;
        border-radius: 5px;
    }

    #file-chosen {
        margin-left: 0.3rem;
        font-family: sans-serif;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Mobile service</h3></div>
                <div class="card-body">
                    <form asp-route-returnUrl="" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4">
                                <label class="required" asp-for="@Model.MobileServiceInfo.ICC"></label>
                                <input asp-for="@Model.MobileServiceInfo.ICC" class="form-control" />
                                <span asp-validation-for="@Model.MobileServiceInfo.ICC" class="text-danger"></span>
                            </div>
                            <div class="col-4"></div>
                            <div class="form-group col-md-4">
                                <label asp-for="@Model.MobileServiceInfo.IMEI"></label>
                                <input asp-for="@Model.MobileServiceInfo.IMEI" class="form-control" />
                                <span asp-validation-for="@Model.MobileServiceInfo.IMEI" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><br /></div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 required" asp-for="@Model.MobileServiceInfo.ServiceId">Rate plan</label>
                                <select id="serviceName" class="col-md-6 form-control" asp-for="@Model.MobileServiceInfo.ServiceId">
                                    @foreach (var service in Model.Services)
                                    {
                                        <option value="@service.Id">@service.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 required" asp-for="@Model.MobileServiceInfo.ServiceNumberId">Number</label>
                                <select id="numbers" class="col-md-6 form-control" asp-for="@Model.MobileServiceInfo.ServiceNumberId">
                                    @foreach (var number in Model.Numbers)
                                    {
                                        <option value="@number.Id">@number.Number</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 required" asp-for="@Model.MobileServiceInfo.ContractDuration">Contract duration</label>
                                <select id="duration" class="col-md-6 form-control" asp-for="@Model.MobileServiceInfo.ContractDuration">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <input id="customer" type="hidden" asp-for="@Model.MobileServiceInfo.CustomerId" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <input id="type" type="hidden" asp-for="@Model.ServiceType" class="form-control" />
                            </div>
                        </div>
                        <a id="getPdf" class="btn btn-primary btn-block text-white">Generate contract</a>
                        <div class="form-group col-md-12 float-right text-center">
                            <div class="form-group">
                                <label for="label" id="lab" asp-for="Image" class="required">Upload document</label>
                                <input Id="label" class="form-control-file" asp-for="Image" type="file" hidden>
                                <span id="file-chosen">No file chosen</span>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        <hr />
                        <a class="btn btn-secondary btn-block"
                           asp-area="" asp-controller="Services" asp-action="AllByCustomer" asp-route-id="@Model.MobileServiceInfo.CustomerId">Close</a>

                        <div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#getPdf").on("click", function () {
        const elementService = document.getElementById("serviceName");
        const selectedService = elementService.options[elementService.selectedIndex].text;
        console.log(selectedService);
        const elementNumber = document.getElementById("numbers");
        const selectedNumber = elementNumber.options[elementNumber.selectedIndex].text;
        console.log(selectedNumber);
        const elementDuration = document.getElementById("duration");
        const selectedDuration = elementDuration.options[elementDuration.selectedIndex].text;
        console.log(selectedDuration);
        const elementType = document.getElementById("type");
        const selectedType = elementType.value;
        console.log(selectedType);
        const elementCustomerId = document.getElementById("customer");
        const selectedCustomerId = elementCustomerId.value;
        console.log(selectedCustomerId);

        var win;
        var url = `/Orders/GetPdf?customerId=${selectedCustomerId}&serviceType=${selectedType}&address=${null}&duration=${selectedDuration}&number=${selectedNumber}&service=${selectedService}`;
        win = window.open("", "_blank");
        win.location = url;
    });
</script>

<script>
    const actualBtn = document.getElementById('label');
    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>