@model TelecomServiceSystem.Web.ViewModels.CustomersSearch.SearchCustomersViewModel
@using TelecomServiceSystem.Common
@{ this.ViewData["Title"] = "Search Customers"; }

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Search Customers</h3></div>
                <div class="card-body">
                    <form asp-route-returnUrl="" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Input.FirstName"></label>
                                <input asp-for="@Model.Input.FirstName" class="form-control" />
                                <span asp-validation-for="@Model.Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Input.MiddleName"></label>
                                <input asp-for="@Model.Input.MiddleName" class="form-control" />
                                <span asp-validation-for="@Model.Input.MiddleName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Input.LastName"></label>
                                <input asp-for="@Model.Input.LastName" class="form-control" />
                                <span asp-validation-for="@Model.Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Input.PersonalNumber"></label>
                                <input asp-for="@Model.Input.PersonalNumber" class="form-control" />
                                <span asp-validation-for="@Model.Input.PersonalNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                            </div>
                            <div class="col-md-2">
                                <a asp-controller="Customers" asp-action="Search" class="btn btn-primary btn-block">Clear</a>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Middle Name</th>
                                                <th>Last Name</th>
                                                <th>Personal Number</th>
                                                <th>Created On</th>
                                                <th>Deleted On</th>
                                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                {
                                            <th>Delete</th>
                                            }

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Middle Name</th>
                                                <th>Last Name</th>
                                                <th>Personal Number</th>
                                                <th>Created On</th>
                                                <th>Deleted On</th>
                                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                {
                                            <th>Delete</th>
}
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var customer in Model.CustomersList)
                                            {
                                            <tr>
                                                <td>@customer.FirstName</td>
                                                <td>@customer.MiddleName</td>
                                                <td>@customer.LastName</td>
                                                <td><a asp-area="" asp-controller="Customers" asp-action="Edit" asp-route-id="@customer.Id">@customer.PersonalNumber</a></td>
                                                <td>@customer.CreatedOn</td>
                                                <td>@customer.DeletedOn</td>
                                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                { 
                                            <td><a class="btn btn-danger" asp-controller="Customers" asp-action="Delete" asp-route-id="@customer.Id">Delete</a></td>
                                            }
                                            </tr>
}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
