@model TelecomServiceSystem.Web.ViewModels.ContractTemplates.ContarctViewModel
@using TelecomServiceSystem.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body class="sb-nav-fixed">
    <div class="container">
        <div>
            <strong>@GlobalConstants.SystemName</strong>
        </div>
        <div class="card-body">
            <div class="form-row text-center">
                <h5><strong>Декларация</strong></h5>
                <p>Долуподписаният (та),<strong>@Model.FullName</strong> /трите имане по лична карта/,</p>
                <p><strong>ЕГН / ЛНЧ / </strong>Номер на паспорт <strong>@Model.PersonalNumber</strong></p>
                <p>с настоящото,</p>
                <br />
            </div>
            <div class="form-row">
                <p>А: На основание чл.147 ал.2 и 3 от Закона за защита на потребителите, декларирам, че:</p>
                <p>1. При подписване на договор при Общи условия ("Общи условия"):</p>
                <br />
                @if (Model.ServiceType == "Mobile")
                {
                    <p>Общи условия за мобилна услуга</p>
                }
                else
                {
                    <p>Общи условия за фиксирана услуга</p>
                }
                <br />
                <p>от Телеком сървис систем, вписано в търговския регистър на Агенцията по вписванията с ЕИК 100100100,</p>
                <p>със седалище и адрес на управление в гр.Варна ул.Незнайна № 1 ("TSS"), получих екземпляр от Общите условия,</p>
                <p> подписан от представител на TSS;</p>
                <p>2. Приемам и съм съгласен с Общите условия и с това да се прилагат и да бъдат неразделна част от сключения</p>
                <p>от мен договор, както и към допълнителните споразумения към него;</p>
                <p>3. Желая да бъда уведомен/а при изменение на Общите условия на адреса за получаване на сметки/фактури или</p>
                <p>чрез кратко съобщение или електронно писмо на посочен от мен телефон или електронна поща. Декларирам, че съм</p>
                <p>информиран/а относно възможността да заява различен адрес за кореспонденция, адрес за получаване на сметки/фактури</p>
                <p>и уведомления относно изменения на Общите условия , както и различен телефон или електронна поща за получаване на</p>
                <p>уведомления относно изменение на Общите условия, чрез обаждане на номер 0866123456.</p>
                <p>Б: Декларирам, че се запознах с Политиката за поверителност и защита на личните данни в TSS, която съдържа подробна</p>
                <p>информация за целите и основанието за обработването на личните данни; категориите получатели на лични данни; срока</p>
                <p>за съхранение на личните данни; правата ми във връзка с обработването на моите лични данни от TSS, както и информация</p>
                <p>за начина, по който те могат да бъдат упражнени; данни за контакт с длъжностното лице по защита на данните и всяка</p>
                <p>друга изискуема нормативна информация.</p>
                <br />
                <p>Уведомен съм, че Политиката за поверителност и защита на личните данни в TSS е публикувана на адрес www.tss.com и е</p>
                <p>достъпна в търговските обекти на дружеството.</p>
            </div>
            <br />
            <div class="form-row">
                <div class="col-sm-6 float-left">
                    <p>Дата: @DateTime.UtcNow.ToString("dd.MM.yyyy" + "г.")</p>
                </div>
                <div class="col-sm-6 float-right">
                    <p>Декларатор: .......................................................</p>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class="row-cols-2">
                <div class="col-md-4">
                    <h4><srtrong>@GlobalConstants.SystemName</srtrong></h4>
                </div>
                <div class="col-md-8 ml-auto">
                    <table class="table table-striped table-bordered">
                        <thead>Споразумение за удължаване срока на договор / смяна на тарифен план за електронни съобщителни услуги</thead>
                        <tbody>
                            <tr>
                                <td class="left">
                                    <p>Търговец/Дистрибутор</p>
                                </td>
                                <td class="right">
                                    <p>@Model.UserId</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <p>Клиентски номер</p>
                                </td>
                                <td class="right">@Model.Id</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <p>Отчетна дата</p>
                                </td>
                                <td class="right">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card col-md-12 align-items-center">
                    <div class="card-header">
                        Настоящото споразумение се сключва между "Телеком сървис систем", вписано в Търговския регистър
                        на Агенцията по вписванията с ЕИК 100100100, със седалище и адрес на управление: гр.Варна 9000,
                        ул.Незнайна № 1, и
                    </div>
                    <div class="card-header text-center">
                        <strong>АБОНАТ</strong>
                    </div>
                    <div class="card-body border">
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="100%">
                                    Трите имена по лична карта: <strong>@Model.FullName</strong>
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="100%">
                                    ЕГН/ЛНЧ/Номер на паспорт: <strong>@Model.PersonalNumber</strong>
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="50%">
                                    Телефон:<strong>@Model.Phone</strong>
                                </td>
                                <td class="border" width="50%">
                                    Email: <strong>@Model.Email</strong>
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="7%">
                                    Адрес:
                                </td>
                                <td class="border" width="43%">
                                    Град/село: <strong>@Model.Address.CityName</strong>
                                </td>
                                <td class="border" width="50%">
                                    Кв./ж.к.: <strong>@Model.Address.Neighborhood</strong>
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="40%">
                                    Улица: <strong>@Model.Address.Street</strong>
                                </td>
                                <td class="border" width="15%">
                                    №: <strong>@Model.Address.Number</strong>
                                </td>
                                <td class="border" width="15%">
                                    Вх.: <strong>@Model.Address.Entrance</strong>
                                </td>
                                <td class="border" width="15%">
                                    Ет.: <strong>@Model.Address.Floor</strong>
                                </td>
                                <td class="border" width="15%">
                                    Ап.: <strong>@Model.Address.Apartment</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-header text-center">
                        <strong>АДРЕС ЗА ПОЛУЧАВАНЕ НА СМЕТКИ/ФАКТУРИ</strong>
                    </div>
                    <div class="card-body border">
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="7%">
                                    Адрес:
                                </td>
                                <td class="border" width="43%">
                                    Град/село: <strong>@Model.Address.CityName</strong>
                                </td>
                                <td class="border" width="50%">
                                    Кв./ж.к.: <strong>@Model.Address.Neighborhood</strong>
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="40%">
                                    Улица: <strong>@Model.Address.Street</strong>
                                </td>
                                <td class="border" width="15%">
                                    №: <strong>@Model.Address.Number</strong>
                                </td>
                                <td class="border" width="15%">
                                    Вх.: <strong>@Model.Address.Entrance</strong>
                                </td>
                                <td class="border" width="15%">
                                    Ет.: <strong>@Model.Address.Floor</strong>
                                </td>
                                <td class="border" width="15%">
                                    Ап.: <strong>@Model.Address.Apartment</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-header text-center">
                        <strong>ИЗБРАНА УСЛУГА</strong>
                    </div>
                    @if (Model.ServiceType.ToLower() == "mobile")
                    {
                        <div class="card-header text-center">
                            <strong>МОИЛНА УСЛУГА</strong>
                        </div>
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="35%">
                                        Предмет на споразумението:
                                    </td>
                                    <td class="border" width="65%">
                                        Удължаване срока на договор на съществуваща услуга
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header text-center">
                            <strong>ТЕЛЕФОНЕН НОМЕР ПО МОБИЛНАТА УСЛУГА</strong>
                        </div>
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border text-center" width="35%">
                                        Номер
                                    </td>
                                    <td class="border text-center" width="65%">
                                        Тарифен план
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border text-center" width="35%">
                                        @Model.Number
                                    </td>
                                    <td class="border text-center" width="65%">
                                        @Model.Plan.Name
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header text-center">
                            <strong>УСЛОВИЯ НА ТАРИФЕН ПЛАН</strong>
                        </div>
                        <div class="card-header text-center">
                            <strong>@Model.Plan.Name</strong>
                        </div>
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="70%">
                                        Месечен абонамент, цена в лева с ДДС
                                    </td>
                                    <td class="border" width="30%">
                                        @Model.Plan.Price
                                    </td>
                                </tr>
                            </table>
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="70%">
                                        Включени минути за разговори към всички мрежи в България и в роуминг в ЕС (до България, страна на пребиваване и Зона ЕС)
                                    </td>

                                    @if (Model.Plan.Name.StartsWith("Data"))
                                    {
                                        <td class="border" width="30%">
                                            N/A
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border" width="30%">
                                            Неограничени
                                        </td>
                                    }
                                </tr>
                            </table>
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="70%">
                                        Включени МВ на максинална скорост в България и роуминг в ЕС
                                    </td>

                                    @if (Model.Plan.Name.StartsWith("Data"))
                                    {
                                        <td class="border" width="30%">
                                            10000
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border" width="30%">
                                            1000
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                        @if (!Model.Plan.Name.StartsWith("Data"))
                        {
                            <div class="card-header text-center">
                                Стандартно тарифиране след включените минути
                            </div>
                            <div class="card-body border">
                                <table class="" width="100%">
                                    <tr>
                                        <td class="border" width="70%">
                                            Разговори към национални мрежи и към номера 0700
                                        </td>
                                        <td class="border" width="30%">
                                            0.29
                                        </td>
                                    </tr>
                                </table>
                                <table class="" width="100%">
                                    <tr>
                                        <td class="border" width="70%">
                                            Видео разговори към мобилната мрежа на TSS / други мобилни мрежи
                                        </td>
                                        <td class="border" width="30%">
                                            0.49 / 0.59
                                        </td>
                                    </tr>
                                </table>
                                <table class="" width="100%">
                                    <tr>
                                        <td class="border" width="70%">
                                            Видео разговори към международни оператори
                                        </td>
                                        <td class="border" width="70%">
                                            1.62
                                        </td>
                                    </tr>
                                </table>
                                <table class="" width="100%">
                                    <tr>
                                        <td class="border" width="70%">
                                            Разговори към международни дестинации Група I / Група II / Група III / мобилни ЕС;
                                            Информация за държавите, които влизат в съответната група е достъпна на официалната интернет страница на TSS - www.tss.com
                                        </td>
                                        <td class="border" width="70%">
                                            0.445 / 1.29 / 1.59 / 0.445
                                        </td>
                                    </tr>
                                </table>
                                <table class="" width="100%">
                                    <tr>
                                        <td class="border" width="70%">
                                            Цени за 1 SMS към всички мрежи в страната, и в роуминг в ЕС (до България, страна на пребиваване и зона ЕС) / към ЕС /към международни оператори
                                        </td>
                                        <td class="border" width="70%">
                                            0.18 / 0.14 / 0.21
                                        </td>
                                    </tr>
                                </table>
                                <table class="" width="100%">
                                    <tr>
                                        <td class="border" width="70%">
                                            Цени на МВ за мобилен интернет в роуминг в ЕС
                                        </td>
                                        <td class="border" width="70%">
                                            0.0081
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    }
                    else
                    {
                        @if (Model.Number.StartsWith("TV"))
                        {
                            <div class="card-header text-center">
                                <strong>ТЕЛЕВИЗИОННА УСЛУГА</strong>
                            </div>
                        }
                        else
                        {
                            <div class="card-header text-center">
                                <strong>ИНТЕРНЕТ УСЛУГА</strong>
                            </div>
                        }
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="35%">
                                        Предмет на споразумението:
                                    </td>
                                    <td class="border" width="65%">
                                        Удължаване срока на договор / смяна на тарифен план на съществуваща услуга
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header text-center">
                            <strong>НОМЕР ПО ФИКСИРАНА УСЛУГА</strong>
                        </div>
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border text-center" width="35%">
                                        Номер
                                    </td>
                                    <td class="border text-center" width="65%">
                                        Тарифен план
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border text-center" width="35%">
                                        @Model.Number
                                    </td>
                                    <td class="border text-center" width="65%">
                                        @Model.Plan.Name
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header text-center">
                            <strong>УСЛОВИЯ НА ТАРИФЕН ПЛАН</strong>
                        </div>
                        <div class="card-header text-center">
                            <strong>@Model.Plan.Name</strong>
                        </div>
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="70%">
                                        Месечен абонамент, цена в лева с ДДС
                                    </td>
                                    <td class="border" width="30%">
                                        @Model.Plan.Price
                                    </td>
                                </tr>
                            </table>
                            <table class="" width="100%">
                                <tr>
                                    @if (Model.Number.StartsWith("TV"))
                                    {
                                        <td class="border" width="70%">
                                            Брой включени канали
                                        </td>
                                        <td class="border" width="30%">
                                            90
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border" width="70%">
                                            Максимална скорост на download и upload
                                        </td>
                                        <td class="border" width="30%">
                                            @Model.Plan.Name.Split(" ")[1]
                                        </td>
                                    }

                                </tr>
                            </table>
                        </div>
                        <div class="card-header text-center">
                            <strong>Адрес за предоставяне на услуга</strong>
                        </div>
                        <br />
                        <br />
                        <div class="card-body border">
                            <table class="" width="100%">
                                <tr>
                                    <td class="border" width="10%">
                                        Адрес:
                                    </td>
                                    <td class="border" width="90%">
                                        @Model.ServiceAddress
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                    <div class="card-header text-center">
                        <strong>КОНТАКТ ОТ СТРАНА НА TSS</strong>
                    </div>
                    <div class="card-body border">
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="50%">
                                    Телефон за контакт:
                                </td>
                                <td class="border" width="50%">
                                    0866123456
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="50%">
                                    Email:
                                </td>
                                <td class="border" width="50%">
                                    CustomerService.TSS@@tss.com
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-header text-center">
                        <table class="" width="100%">
                            <tr>
                                <td class="border" width="50%">
                                    Дата на влизане в сила на споразумението: @DateTime.UtcNow.Date.ToString("dd/MM/yyyy")
                                </td>
                                <td class="border" width="90%">
                                    Дата на изтичане срока на споразумението: @DateTime.UtcNow.AddMonths(Model.ContractDuration).Date.ToString("dd/MM/yyyy")
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-header">
                        <strong>Срок на споразумението: @Model.ContractDuration месеца</strong>
                    </div>
                    <div class="card-body border">
                        <table class="" width="100%">
                            <tr>
                                <td width="50%">
                                    <strong>За TSS:</strong>
                                </td>
                                <td width="50%">
                                    <strong>За Абонат:</strong>
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td width="50%">
                                    ................................................................................
                                </td>
                                <td width="50%">
                                    ................................................................................
                                </td>
                            </tr>
                        </table>
                        <table class="" width="100%">
                            <tr>
                                <td width="50%">
                                    Дата: @DateTime.UtcNow.Date.ToString("dd/MM/yyyy")г.
                                </td>
                                <td width="50%">
                                    Дата: ........................................
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
